<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team200.proj.dao.BookDAO">
	<insert id="putSchedule">
		insert into scheduleDate(showdb_id, showDate, showTime, showPrice)
		values(#{param1},#{param2},#{param3},#{param4}) 
	</insert>
	<select id="getSchedule" resultType="ScheduleDateVO">
	 	select id, showdb_id, showDate, showTime from scheduleDate
	</select>
	<select id="getScheduleInfo" resultType="ScheduleDateVO">
		select id, showdb_id, showDate, showTime, showPrice from scheduleDate 
		where id=#{param1}
	</select>
	
	<select id="getShowInfo" resultType="ScheduleDateVO">
		select a.id, a.showdb_id, a.showDate, a.showTime, a.showPrice, b.name, b.place_name
		from scheduleDate as a inner join showdb as b on a.showdb_id=b.id where a.id=#{param1}
	</select>
	<select id="getUserInfo" resultType="UserVO">
		select username, tel, zipcode, road_name, addr from user where id=#{param1}
	</select>
	<select id="getSeatInfo" resultType="SeatVO">
		select a.seat_num, b.scheduleDate_id from seat as a
		inner join order_list as b on a.order_list_no=b.no
		where b.scheduleDate_id=#{param1}
	</select>
	<insert id="putOrderlist">
		insert into order_list(no, user_id, scheduleDate_id, imp_uid, oknum, price, addr, email)
		values(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8})
	</insert>
	<insert id="putSeatInfo">
		insert into seat(seat_num, order_list_no, seatcnt) values(#{param1},#{param2},#{param3})
	</insert>
	<select id="getOrder" resultType="OrderlistVO">
		select a.no, b.name, b.mainposter, b.place_name, c.showDate, c.showTime, 
		d.seatcnt, e.username, d.seat_num, a.price from order_list as a 
		inner join scheduleDate as c on a.scheduleDate_id = c.id
		inner join showdb as b on b.id=c.showdb_id
		inner join seat as d on a.no=d.order_list_no
		inner join user as e on a.user_id=e.id
		where a.no=#{param1}
	</select>
</mapper>