<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team200.proj.dao.BookDAO">
	<select id="getScheduleInfo" resultType="scheduleDateVO">
		select id, showDate, showTime from scheduleDate
	</select>
	<select id="getSeatState" resultType="SeatVO">
		select a.id, a.scheduleDate_id, a.state from seat as a inner join scheduleDate as b on a.scheduleDate_id=b.id
	</select>
	<update id="bookSeatOk" parameterType="SeatVO">
		update seat set state = 2 where id=#{id} and scheduleDate_id=${scheduleDate_id}
	</update>
	<select id="getUserInfo" resultType="UserVO">
		select username, tel, addr from user
	</select>
	<select id="getShowInfo" resultType="showVO">
		select a.id, a.showDate, a.showTime, b.name, b.place_name from scheduleDate as a 
		inner join showdb as b on a.showdb_id = b.id where a.id=${param1}
	</select>
	<select id="getSeatNum" resultType="SeatVO">
		select id from seat where scheduleDate_id=${param1} and state=2
	</select>
	<update id="bookSeatComplete" parameterType="SeatVO">
		update seat set state = 1 where id=#{id} and scheduleDate_id=${scheduleDate_id}
	</update>
	<!-- <insert id="putOrderlist">
		insert into order_list where 
	</insert> -->
</mapper>