<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao뒤에 사용할DAO명을 입력해야함 ex)boardDAO -->
<mapper namespace="com.team200.proj.dao.IndexDAO">
	<select id="outputFestivalData" resultType="festivalVO">
		select id, name,
		startdate, enddate, place place_name, poster mainposter,
		genre, state
		from festival where
		state = '공연중' or state = '공연예정' ORDER
		BY enddate ASC
		limit 0, 5;
	</select>
	<select id="outputpopularData" resultType="showVO">
		SELECT
		a.name, a.id,
		a.mainposter,a.startdate, a.enddate,a.genre, b.showRank
		FROM showdb as
		a INNER JOIN popular as b ON a.id = b.showdb_id ORDER BY
		b.showRank ASC
		limit 0, 21;
	</select>
	<select id="outputpopularWData" resultType="showVO">
		SELECT
		a.name, a.id,
		a.mainposter,a.startdate, a.enddate,a.genre, b.showRank
		FROM showdb as
		a INNER JOIN popularW as b ON a.id = b.showdb_id ORDER BY
		b.showRank
		ASC limit 0, 21;
	</select>
	<select id="outputpopularDWMData" resultType="showVO">
		SELECT
		a.name, a.id, a.mainposter,a.startdate, a.enddate,a.genre,
		<if test='param2 == "아동"'> c.showRank
			FROM showdb as a INNER JOIN child as c on a.id
			= c.showdb_id ORDER BY
			c.showRank ASC
			limit 0, 5;
		</if>

		<if test='param2 != "아동"'>
			b.showRank
			FROM showdb as a INNER JOIN
			<if test='param1 == 1'>popular</if>
			<if test='param1 == 7'>popularW</if>
			<if test='param1 == 30'>popularM</if>
			as b ON a.id = b.showdb_id

			<if test='param2 == "연극"'>where genre = #{param2}</if>
			<if test='param2 == "뮤지컬"'>where genre = #{param2}</if>
			<if test='param2 == "클래식"'>where genre = '클래식' or genre = '오페라'</if>
			ORDER BY b.showRank ASC limit 0, 5;
		</if>


	</select>
	<select id="getTotalUser" resultType="int">
		select count(id) cnt from user
		<if test='searchWord!=null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
	<select id="userList" resultType="UserVO">
		<!-- select no no1, subject, userid, hit, date_format(writedate, '%m-%d 
			%h:%i') writedate, (select count(no) from reply_board where no = no1) reply_count 
			from board <if test="searchWord!=null"> where ${searchKey} like '%${searchWord}%' 
			</if> order by no desc limit ${onePageRecord} offset ${offsetPoint} -->
		<!-- select -->
		<!-- b1.no, b1.subject, b1.userid, b1.hit, b1.writedate, b2.reply_count -->
		<!-- from -->
		<!-- (select no, subject, userid, hit, -->
		<!-- date_format(writedate, '%m-%d %h:%i') writedate from board -->

		<!-- <if test="searchWord!=null"> -->
		<!-- where ${searchKey} like '%${searchWord}%' -->
		<!-- </if> -->
		<!-- order by no desc -->

		<!-- limit ${onePageRecord} offset ${offsetPoint} -->
		<!-- ) b1 -->

		<!-- left outer join (select no, count(no) reply_count from reply_board 
			group by no) b2 -->

		<!-- on b1.no=b2.no; -->
		select
		id, username, role, nickname, img, register_date, tel, gender,
		birth,
		zipcode, road_name, addr, agree_to_receive_email,
		agree_to_receive_msg,
		route, self_certification, self_certification_num
		from
		user
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>

		<!-- limit ${onePageRecord} offset ${offsetPoint} -->

	</select>

	<select id="boardList" resultType="BoardVO">

		select a.id, a.user_id, a.title, a.content, date_format(a.writedate,
		'%m-%d %h:%i') writedate, b.name showdb_id ,a.hit
		from board a
		inner
		join
		showdb b on a.showdb_id = b.id

		<if test='searchKey2== "name"'>
			where b.${searchKey2} like '%${searchWord2}%'
		</if>
		<if test='searchKey2!= "name"'>
			<if test='searchWord2!=null'>
				where a.${searchKey2} like '%${searchWord2}%'
			</if>
		</if>

		<!-- limit ${onePageRecord} offset ${offsetPoint} -->

	</select>
	<select id="getTotalUser2" resultType="int">
		select count(a.id) cnt from board a
		inner join showdb b on a.showdb_id
		= b.id
		<if test='searchKey2=="name"'>
			where b.name like '%${searchWord2}%'
		</if>
		<if test='searchKey2!="name"'>

			<if test='searchKey2!=null'>
				where a.${searchKey2} like '%${searchWord2}%'
			</if>
		</if>
	</select>


	<delete id="boardMultiDel">
		delete from board
		<where>
			<foreach item="item" index="index" collection="noList"
				open="id in(" separator="," close=")">
				${item}
			</foreach>
		</where>
	</delete>

	<delete id="boardMultiDel2">
		delete from user
		<where>
			<foreach item="item" index="index" collection="noList"
				open="id in(" separator="," close=")">
				'${item}'
			</foreach>
		</where>
	</delete>

	<delete id="boardMultiDel3">
		delete from review
		<where>
			<foreach item="item" index="index" collection="noList"
				open="id in(" separator="," close=")">
				${item}
			</foreach>
		</where>
	</delete>

	<delete id="boardMultiDel4">
		delete from board
		<where>
			<foreach item="item" index="index" collection="noList"
				open="id in(" separator="," close=")">
				'${item}'
			</foreach>
		</where>
	</delete>

	<delete id="boardMultiDel5">
		delete from review
		<where>
			<foreach item="item" index="index" collection="noList"
				open="id in(" separator="," close=")">
				'${item}'
			</foreach>
		</where>
	</delete>


	<select id="getTotalUser3" resultType="int">
		select count(a.id ) cnt
		from
		report a
		inner join review b on a.postNum = b.id
		where type =
		'review';

	</select>
	<select id="getTotalUser6" resultType="int">
		select count(chat_room_id
		) cnt
		from
		chatList

	</select>
	<select id="reportList" resultType="ReportVO">
		select a.id, a.user_id, a.type, a.content, b.user_id
		user_id2,b.content rcontent, b.show_id,c.name genre ,b.order_list_no,
		a.postnum
		from report a
		inner join review b on a.postNum = b.id
		inner
		join showdb c on b.show_id = c.id
		where a.type = 'review'

		<!-- date_format(a.writedate, -->
		<!-- '%m-%d %h:%i') writedate, b.name showdb_id -->
		<!-- from board a -->
		<!-- inner join -->
		<!-- showdb b on a.showdb_id = b.id -->

		<!-- <if test='searchKey2== "name"'> -->
		<!-- where b.${searchKey2} like '%${searchWord2}%' -->
		<!-- </if> -->
		<!-- <if test='searchKey2!= "name"'> -->
		<!-- <if test='searchWord2!=null'> -->
		<!-- where a.${searchKey2} like '%${searchWord2}%' -->
		<!-- </if> -->
		<!-- </if> -->

		<!-- limit ${onePageRecord} offset ${offsetPoint} -->
		<if test='searchKey4=="content"'>
			and ( a.content like '%${searchWord4}%' OR b.content like
			'%${searchWord4}%' )
		</if>
		<if test='searchKey4=="rcontent"'>
			and b.content like '%${searchWord4}%'
		</if>
		<if test='searchKey4=="username"'>
			and ( b.user_id like '%${searchWord4}%' OR a.user_id like
			'%${searchWord4}%' )
		</if>
		<if test='searchKey4=="rusername"'>
			and b.user_id like '%${searchWord4}%'
		</if>
		;
	</select>
	<select id="mreportList" resultType="ReportVO">
		select a.id, a.user_id,
		a.type, a.content, b.user_id user_id2
		,b.content rcontent, c.name
		show_id, a.postnum postnum from report
		a
		inner join board b on
		a.postNum = b.id
		inner join showdb c on
		b.showdb_id = c.id where a.type = 'meet'
		<if test='searchKey5=="content"'>
			and ( a.content like '%${searchWord5}%' OR b.content like
			'%${searchWord5}%' )
		</if>
		<if test='searchKey5=="rcontent"'>
			and b.content like '%${searchWord5}%'
		</if>
		<if test='searchKey5=="username"'>
			and ( b.user_id like '%${searchWord5}%' OR a.user_id like
			'%${searchWord5}%' )
		</if>
		<if test='searchKey5=="rusername"'>
			and b.user_id like '%${searchWord5}%'
		</if>
		;

	</select>
	<select id="chatList" resultType="chatVO">
		select a.chat_room_id, a.update_date, b.username
		from chatlist a
		inner join user b on a.send_user_id = b.id
		order by a.update_date
		
<!-- 		<if test='searchKey5=="content"'> -->
<!-- 			and ( a.content like '%${searchWord5}%' OR b.content like -->
<!-- 			'%${searchWord5}%' ) -->
<!-- 		</if> -->
<!-- 		<if test='searchKey5=="rcontent"'> -->
<!-- 			and b.content like '%${searchWord5}%' -->
<!-- 		</if> -->
<!-- 		<if test='searchKey5=="username"'> -->
<!-- 			and ( b.user_id like '%${searchWord5}%' OR a.user_id like -->
<!-- 			'%${searchWord5}%' ) -->
<!-- 		</if> -->
<!-- 		<if test='searchKey5=="rusername"'> -->
<!-- 			and b.user_id like '%${searchWord5}%' -->
<!-- 		</if> -->
		;

	</select>
	<select id="reviewList" resultType="ReviewVO">
		select a.id, a.user_id, b.name, a.order_list_no, a.content,
		date_format(a.writedate, '%Y.%m.%d %h:%i') writedate

		, a.rate,
		a.viewdate from
		review a inner join showdb b on b.id = a.show_id
		<if test='searchKey3=="Content"'>
			where a.content like '%${searchWord3}%'
		</if>
		<if test='searchKey3=="UserName"'>
			where a.user_id like '%${searchWord3}%'
		</if>
		<if test='searchKey3=="ShowName"'>
			where b.name like '%${searchWord3}%'
		</if>
		;

	</select>
	<select id="getTotalUser5" resultType="int">
		select count(id ) cnt from
		review ;

	</select>

	<select id="getTotalUser4" resultType="int">


		select count(a.id ) cnt
		from
		report a
		inner join board b on a.postNum = b.id
		where type =
		'meet';

	</select>

	<select id="getReservation" resultType="OrderlistVO">
		select a.no, a.user_id, date_format(a.writedate, '%Y.%m.%d %h:%i')
		writedate, date_format(b.showDate, '%Y.%m.%d') showDate, b.showTime,
		c.seat_num, d.name
		from order_list a
		inner join scheduleDate as b on
		a.scheduleDate_id=b.id
		inner join seat as c on a.no=c.order_list_no
		inner join showdb as d on
		b.showdb_id=d.id
		<if test="booksearchWord!=null">
			where ${booksearchKey} like '%${booksearchWord}%'
			<!-- <if test="booksearchKey=='id'"> where a.user_id like '%${booksearchWord}%' 
				</if> <if test="booksearchKey=='no'"> where a.no like '%${booksearchWord}%' 
				</if> <if test="booksearchKey=='name'"> where d.id like '%${booksearchWord}%' 
				</if> -->
		</if>
		order by a.writedate desc
		limit ${bookonePageRecord} offset
		${bookoffsetPoint}
	</select>
	<select id="totalReservation" resultType="int">
		<if test="booksearchKey=='name'">
			select count(no) cnt from order_list as a
			inner join scheduleDate as b on a.scheduleDate_id=b.id
			inner join showdb as
			c on c.id=b.showdb_id
			where c.name like '%${booksearchWord}%'
		</if>
		<if test="booksearchKey!='name'">
			select count(no) cnt from order_list
			<if test='booksearchWord!=null'>
				where ${booksearchKey} like '%${booksearchWord}%'
			</if>
		</if>
	</select>
	<delete id="bookDel">
		delete from order_list
		<where>
			<foreach item="item" index="index" collection="noList"
				open="no in (" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>
	<!-- <select id="bookCancelInfo"> select a.no, a.user_id, c.showname, b.showdate, 
		d.seat_numfrom order_list </select> -->
</mapper>
