<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team200.proj.dao.MeetingDAO">

	<select id="showSearch" resultType="showVO">
	 select id, name from showdb where name like '%${param1}%' order by name desc;
	</select>

    <select id="mainMeeting" resultType="MeetingVO">
        select a.id, a.user_id, a.title, a.content, date_format(a.writedate, '%m-%d %h:%i') writedate, b.genre
        from board a inner join showdb b on a.showdb_id = b.id
    </select>

    <select id="mainMeetingGenre" resultType="MeetingVO">
        select a.id, a.user_id, a.title, a.content, date_format(a.writedate, '%m-%d %h:%i') writedate, b.genre
        from board a
                 inner join showdb b on a.showdb_id = b.id
        where b.genre = #{genre}
        order by id desc;
--         select *
--         from board
    </select>

    <select id="mainMeetingGenre2" resultType="MeetingVO">
        select a.id, a.user_id, a.title, a.content, date_format(a.writedate, '%m-%d %h:%i') writedate, b.genre
        from board a
                 inner join showdb b on a.showdb_id = b.id
        where b.genre = #{param1}
        or b.genre = #{param2}
        order by id desc;
        --         select *
--         from board
    </select>

<!--    <select id="playMeetingList" resultType="MeetingVO">-->
<!--        select a.id, a.user_id, a.title, a.content, date_format(a.writedate, '%m-%d %h:%i') writedate, b.genre-->
<!--        from board a-->
<!--                 left outer join showdb b on a.showdb_id = b.id-->
<!--        where b.genre = '연극'-->
<!--        order by id desc;-->
<!--    </select>-->

    <insert id="meetingWriteOk">
        insert into board(user_id, title, content)
        values (#{user_id}, #{title}, #{content})
    </insert>

    <update id="meetingEdit">
        update board
        set title   = #{name},
            content = #{content}
        where id = #{id}
          and user_id = #{user_id}
    </update>

    <delete id="meetingDelete">
        delete
        from board
        where id = 1
          AND board.user_id = {user_id}
    </delete>
	
    
    
    
    <select id="meetingFindBytheatrical">

    </select>
    
    

</mapper>