<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team200.proj.dao.MypageDAO">
	<select id="getMyinfo" resultType="UserVO">
		select id, img, nickname, username, tel, zipcode, road_name, addr, self_certification from user where id = #{param1} 
	</select>
	<update id="certificationOk">
		update user set self_certification=1, self_certification_num=#{param1} where id=#{param2}
	</update>
	<select id="getImgname" resultType="string">
		select img from user where id = #{param1}
	</select>
	<update id="profileUpdate">
		update user set password=#{password}, img=#{img}, nickname=#{nickname}, tel=#{tel}, road_name=#{road_name}, addr=#{addr} where id = #{id}
	</update>
	<delete id="myInfoEraseOk">
		delete from user where id = #{param1} and password = #{param2}
	</delete>
	<delete id="snsInfoEraseOk">
		delete from user where id=#{param1}
	</delete>
	<select id="myBoardList" resultType="BoardVO">
		select a.id, a.showdb_id, a.title, date_format(a.writedate, '%Y.%m.%d') writedate, b.genre
		from board 
		a join showdb b on a.showdb_id=b.id 
		where a.user_id = #{param1} order by a.id desc
		limit ${param2} offset ${param3}
	</select>
	<delete id="myBoardDel">
		delete from board
		<where>
			<foreach item="item" index="index" collection="noList" open="id in (" separator="," close=")">
				${item}
			</foreach>
		</where>
	</delete>
	<select id="myReplyList" resultType="ReplyVO">
		select a.board_id, a.id, a.content, date_format(a.writedate, '%Y.%m.%d') writedate, c.genre
        from reply a
        inner join board b on a.board_id=b.id
        inner join showdb c on b.showdb_id = c.id
		where a.user_id = #{param1} order by b.id desc, writedate desc 
		limit ${param2} offset ${param3}
	</select>
	<delete id="myCommentDel">
		delete from reply
		<where>
			<foreach item="item" index="index" collection="noList" open="id in (" separator="," close=")">
				${item}
			</foreach>
		</where>
	</delete>
	<select id="getBookInfo" resultType="OrderlistVO">
		select a.id, a.genre, a.name, date_format(b.showDate, '%Y.%m.%d') showdate, b.showTime, 
		date_format(d.writedate, '%Y.%m.%e') writedate, c.seatcnt, d.no from showdb as a
		inner join scheduleDate as b on a.id=b.showdb_id
		inner join order_list as d on d.scheduleDate_id = b.id
		inner join seat as c on c.order_list_no=d.no 
		where d.user_id=#{param1}
		<if test="param2!=null">
			and a.name like '%${param2}%'
		</if>
		<if test="param3!=null and param4!=null">
			and (showdate between date(#{param3}) and date(#{param4}))
		</if>
		order by d.writedate desc
		limit ${param5} offset ${param6}
	</select>
	<select id="getMyFav" resultType="showVO">
		select a.id, a.mainposter, a.name, date_format(a.startdate, '%Y.%m.%d') startdate, date_format(a.enddate, '%Y.%m.%d') enddate
		from showdb as a inner join myFavorite as b on a.id= b.showdb_id where b.user_id=#{param1}
	</select>
	<delete id="delMyFav">
		delete from myFavorite where user_id=#{param1} and showdb_id=#{param2}
	</delete>
	<select id="reviewOk" resultType="ReviewVO">
		select show_id, order_list_no from review where user_id=#{param1}
	</select>
	<select id="getReviewInfo" resultType="ReviewVO">
		select a.id, b.name, b.mainposter, a.show_id, a.content, a.rate, date_format(a.writedate, '%Y.%m.%d') writedate from review as a
		inner join showdb as b on a.show_id=b.id
		where a.user_id=#{param1}
		order by writedate desc
		limit ${param2} offset ${param3}
	</select>
	<delete id="myReviewDel">
		delete from review
		<where>
			<foreach item="item" index="index" collection="noList" open="id in (" separator="," close=")">
				${item}
			</foreach>
		</where>
	</delete>
	<select id="totalRecord" resultType="int">
		select count(id) cnt from board where user_id=#{param1}
	</select>
	<select id="totalCRecord" resultType="int">
		select count(id) cnt from reply where user_id=#{param1}
	</select>
	<select id="totalBookRecord" resultType="int">
		select count(no) cnt from order_list where user_id=#{param1}
	</select>
	<select id="totalReviewRecord" resultType="int">
		select count(id) cnt from review where user_id=#{param1}
	</select>
</mapper> 