<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao뒤에 사용할DAO명을 입력해야함 ex)boardDAO -->
<mapper namespace="com.team200.proj.dao.ShowDAO">

	<select id="getShowList" resultType="showVO">
		select 
		a.id, a.name, a.place_name, date_format(a.startdate, '%Y.%m.%d')startdate, 
		date_format(a.enddate, '%Y.%m.%d')enddate, a.genre, a.mainposter, 
		<if test="param1=='아동'">
			c.showRank from showdb as a inner join child as c on a.id=c.showdb_id
			order by c.showRank asc limit 0,10
		</if>
		<if test="param1!='아동'">
			b.showRank from showdb as a inner join popular as b on a.id=b.showdb_id
			<if test="param1=='전체'"></if>
			<if test="param1=='연극'">where genre=#{param1} </if>
			<if test="param1=='뮤지컬'">where genre=#{param1} </if>
			<if test="param1=='클래식'">where (genre='클래식' or genre='오페라') </if>
			order by b.showRank asc limit 0,10
		</if>
	</select>	

	<select id="showDetail" resultType="showVO">
		select id,
		name,
		
		startdate,
		enddate,
		place_name,
		
		performer,
		producer,
		open_time,
		runtime,
		
		minimum_age,
		production_company_name,
		price,
		mainposter,
		introduction_txt,
		
		genre,
		state,
		openrun,
		
		introduction_image1,
		introduction_image2,
		introduction_image3,
		introduction_image4
		
		from showdb where id=#{param1};
	</select>
	<select id="getReview" resultType="ReviewVO">


		select id, user_id, content, rate, viewdate, date_format(writedate, '%m-%d %h:%i') writedate from review where show_id=#{param1}  order by id asc;

	</select>
		<select id="WeeklyRankingList" resultType="showVO">
		<if test="param1=='아동'">
		select a.id, a.name, c.showRank from showdb as a inner join child as c on a.id=c.showdb_id
		where state='공연중'
		order by c.showRank asc limit 0,5
		</if>
		<if test="param1!='아동'">
		select a.id, a.name, b.showRank from showdb as a inner join popularW as b on a.id=b.showdb_id
			<if test="param1=='전체'"></if> 
			<if test="param1=='연극'">where genre=#{param1}</if>
			<if test="param1=='뮤지컬'">where genre=#{param1}</if>
			<if test="param1=='클래식'">where (genre='클래식' or a.genre='오페라') </if>
		order by b.showRank asc limit 0,5   
		</if>


	</select>
	<select id="getBoardList" resultType="BoardVO">
		<if test="param1=='아동'">
			select b.id, b.title from showdb as a 
			inner join board as b on a.id = b.showdb_id
			inner join child as c on a.id = c.showdb_id 
			order by b.id desc limit 0,5
		</if>
		<if test="param1!='아동'">
			select b.id, b.title from showdb as a 
			inner join board as b on a.id = b.showdb_id
			left join child as c on a.id = c.showdb_id  
				<if test="param1=='전체'"></if> 
				<if test="param1=='연극'">where genre=#{param1} and c.showdb_id is null</if>
				<if test="param1=='뮤지컬'">where genre=#{param1} and c.showdb_id is null</if>
				<if test="param1=='클래식'">where (genre='클래식' or a.genre='오페라') and c.showdb_id is null</if>
			order by b.id desc limit 0,5	
		</if>
	</select>
	<select id="getNewList" resultType="showVO"> 
		<if test="param1=='아동'">
			select
			a.id, a.name, a.place_name, date_format(a.startdate, '%Y.%m.%d')startdate, 
			date_format(a.enddate, '%Y.%m.%d')enddate, a.genre, a.mainposter
			from showdb as a inner join child as c on a.id=c.showdb_id
			where a.state='공연중' and
			a.startdate between subdate(now(), interval 60 DAY) and date_format(now(), '%Y.%m.%d')   
			order by a.startdate desc limit 0,5
		</if>
		<if test="param1!='아동'">
			select
			id, name, place_name, date_format(startdate, '%Y.%m.%d')startdate, 
			date_format(enddate, '%Y.%m.%d')enddate, genre, mainposter
			from showdb
			<if test="param1=='전체'">where </if> 
			<if test="param1=='연극'">where genre=#{param1} and </if>
			<if test="param1=='뮤지컬'">where genre=#{param1} and </if>
			<if test="param1=='클래식'">where (genre='클래식' or genre='오페라') and </if> 
			state='공연중' and startdate between subdate(now(), interval 7 DAY) and date_format(now(), '%Y.%m.%d') 
	        order by startdate desc limit 0,5
	    </if>   
	</select>
		<insert id="setReport">
		insert into report( user_id, type, content, postNum) values ( #{param3}, 'review',#{param2},#{param1})
	</insert>
</mapper>
