<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao뒤에 사용할DAO명을 입력해야함 ex)boardDAO -->
<mapper namespace="com.team200.proj.dao.ShowDAO">
	<select id="showDetail" resultType="showVO">
		select id,
name,

startdate,
enddate,
place_name,

performer,
producer,
open_time,
runtime,

minimum_age,
production_company_name,
price,
mainposter,
introduction_txt,

genre,
state,
openrun,

introduction_image1,
introduction_image2,
introduction_image3,
introduction_image4

 from showdb where id=#{param1};
	</select>

	<select id="getShowList" resultType="showVO" parameterType="string">
		select name, place_name, date_format(startdate, '%Y.%m.%e')startdate, date_format(enddate, '%Y.%m.%e')enddate, genre, openrun, mainposter
		from showdb
		where genre=#{param1}
	</select>
	<select id="getShowNum" resultType="int">
		select count(DISTINCT genre) from showdb
	</select>
	<select id="getShowGenre" resultType="string">
		select DISTINCT genre from showdb
	</select>

</mapper>

