<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao뒤에 사용할DAO명을 입력해야함 ex)boardDAO -->
<mapper namespace="com.team200.proj.dao.UserDAO">
	<select id = "loginOk" resultType = "UserVO">
		select id, username, role from user where id = #{id} and password = #{password}
	</select>

	<select id = "idCheck" resultType = "int">
		select count(id) cnt from user where id = #{param1}
	</select>  
	
	<insert id = "signupWrite">
		insert into user(id,password, nickname, username, birth, gender, tel, zipcode,
		 				road_name, addr, agree_to_receive_email, agree_to_receive_msg, route)
		values(#{id}, #{password}, #{nickname}, #{username}, #{birth}, #{gender}, #{tel},
				#{zipcode}, #{road_name}, #{addr}, #{agree_to_receive_email}, #{agree_to_receive_msg}, #{route})
	</insert>

</mapper>
