@charset "UTF-8";
.chatDiv{
 width:	640px;
/*  		position: absolute; */
/* 		bottom : 0; */
}
.chatDiv2{
 width:	640px;
height:110px;
}
.newchat {

		width:80%;
		height:100px;
		margin:0;
		padding:0px;
}
.newchatbtn{
		width:19%;
		height:105px;
/* 		position: absolute; */
/* 		right:0; */
/* 		bottom : 0; */
		text-align:center;
		padding:10px 20px;
		float:right;
		background:#440099;
		color:white;
		font-weight:bold;
		font-size:17px;
		border-style:none;
	
}
table{
border-collapse: collapse;
}

tbody tr td:nth-child(1){

 	font-color : #008080;
 }
 tbody tr td:nth-child(2){
/*  	padding-left : 200px; */
 	font-color : #f1c550;
 	text-align:right;
 }
th#adminchat {
	font-weight:bold;
	font-size : 1.5em;
	color : #008080;
	
}
th#userchat {
/* 	padding-left : 200px; */
	font-weight:bold;
	font-size : 1.5em;
	color : #f1c550;
}
.chatqnabox {
	
	text-align: center;
	width: 1200px;
	height:800px;
	margin: 0 auto;
}
#chatqnali1{
	font-weight:bold;
	font-size:30px;
}
#chatqnali2{
	font-size:15px;
	color:red;
}

#admiinchat {
	float:right;	
	
}

#userchat {
	float:left;	
	
}
#chatBtn {
	width: 300px;
	height : 80px;
	font-size : 40px;
	font-weight:bold;
	background-color:white;
	border : 1px solid white;
	
}
.csmenu{
	width: 1200px;
	margin: 0 auto;
	text-align:center;
	margin-top:100px;
	margin-bottom:200px;
	
}
.csmenu>div {
	
	border : solid 3px #440099;
	border-left:none;
	text-align : center;
	float:left;
	width:200px;
	height:50px;
	line-height:50px; 
	font-size:20px;
	font-weight:bold;
	margin:0 auto;

}
.csmenu a{
	color:#440099;
}
.csmenu>div:first-child{
	border-left: solid 3px #440099;
	margin-left : 16%;
}


#chat_list tr td{
border: 1px solid;
}
