@charset "UTF-8";

	.sclogin{
		text-align : center;
		
	}
	#googlebtne, #kakaobtne {
		width:300px;
		height: 65px;
		margin-bottom : 20px;
		
		
	}
	
	
		.cculogo {
		text-align:center;
		width:1200px;
		margin : 0 auto;
	
	}
	.logincontainer{
		text-align : center;
		margin : 0 auto;
		display : block;
		background : white;
		width:1200px;
		height:500px;
		margin:0 auto;
	
	}
	#log {
		
		margin:0 auto;
	}




	#id, #password {
		border : 2px solid grey;
		width:300px;
		height:45px;
		margin-bottom:10px;
	}
	.loginBtn {
		text-align : center;
		margin-right :37.5%;
		display : block;
		
		width:300px;
		height:45px;
		background-color:#440099;
		color:white;
		font-size : 1.1em;
		cursor: pointer;
	}
	 .signupBtn {
		text-align : center;
		margin : 0 auto;
		display : block;
		
		width:300px;
		height:45px;
		background-color:#440099;
		color:white;
		font-size : 1.1em;
		cursor: pointer;
	}
	
/* 	#naverloginBtn, #kakaologinBtn, #googleloginBtn { */
/* 		width:300px; */
/* 		height:45px; */
/* 		border : 1px solid white; */
/* 		color:white; */
/* 	} */
/* 	#naverloginBtn { */
/* 		background-color:#04CF5C; */
/* 		margin-bottom : 10px; */
/* 		text-align: center; */
/* 	} */
/* 	#kakaologinBtn { */
/* 		background-color:#ffdc00; */
/* 		margin-bottom : 10px; */
/* 	} */
/* 	#googleloginBtn { */
/* 		background-color:black; */
/* 	} */

/* 	div.snsloginfrm{ */
/* 		width: 50%; */
/* 		float: right; */
/* 		box-sizing: border-box; */
/* 	} */
/* 	#googleicon { */
/* 		border: 2.5px solid; color:#4285F4; */
/* 		border-radius: 50%; */
/* 		width: 80px; */
/* 		height: 80px; */
/* 	} */
/* 	#navericon { */
/* 		margin-right:25px; */
/* 		width: 80px; */
/* 		height: 80px; */
/* 	} */
/* 	#kakaoicon { */
/* 		margin-right:25px; */
/* 		width: 80px; */
/* 		height: 80px; */
/* 	} */
	