@charset "UTF-8";
	#reporticon {
		width:50px;
		height:50px;
	}
	.MeetingTopContainer{
	
		border:5px solid #440099;
		width:1200px;
		margin:1% auto;
        font-size:15px;
        text-align:center;
	}
	.MeetingTopText{
		color:#440099;
	}
	.MeetingWarning{
		color: #FF5161;
		margin-top:25px;
		margin-bottom:25px;
		text-align:center;
	}

	.MeetingFormContainer{
		width:1200px;
		margin:0 auto;
	}
	fieldset{
		border:none;		
	}
	.MeetingFormContainer table{
		width:100%;
		border-top:2px solid #7F7F7F;
		border-bottom:2px solid #7F7F7F;
		border-spacing:0;
	}
	.MeetingFormContainer td{
		border-bottom:1px solid #B3B3B3;
		padding:10px 0 10px 10px;
		padding:1%;
		padding-left:2%;
	}
	.MeetingFormContainer th{
		width:10%;
		padding-left:5px;
		border-bottom:1px solid #B3B3B3;
		padding:10px 0 10px 10px;
		background:#E0E0E0;
		text-align:center;
	}
	.meetingBackBtn{
		margin-left:15px;
		padding:10px 20px;
		background:#440099;
		color:white;
		font-weight:bold;
		font-size:17px;
		border-style:none;
	}
	.report2{
		float:right; margin-right:20px;
		border:none; background-color:#fff; color:red;
		font-size:17px; padding:10px 0;
		cursor:pointer;
	}
	#replyList li {
	width: 1100px;
	border-bottom: 2px solid #440099;
	margin:30px; padding:0 20px;
	}
    .contentPart>td:last-child{
    	vertical-align: top;
    }
    #modify, #delete{
		border:none; background-color:lavender; color:#440099;
		font-weight:bold; font-size:17px; 
		padding:10px 20px; margin:0 5px;
		float:right;
	}
	#content{
		margin-left:10px; width:1000px; height:50px;
		border:2px solid #440099; outline:none;
		font-size:16px; font-family:'나눔고딕';
	}
	#replyok{
		padding:10px 20px;
		background:#440099;
		color:white;
		font-weight:bold;
		font-size:17px;
		border-style:none;
		margin-left:10px; margin-top:5px;
		position:absolute;
	}
	#replyFrm{
		margin:20px;
		padding:30px 10px;
		border-top: 2px solid #440099;
	}
	#remodify, #redelete{
		border:none; background-color:lavender; color:#440099;
		font-weight:bold; font-size:17px; 
		padding:10px 20px; margin:0 5px;
		float:right;
	}
	.replyUpdate{
		margin:0 30px;
	}
	
	#renamedate{
		font-size:16px;
	}