@charset "UTF-8";
	.playMeetingTopContainer{
		border:5px solid #440099;
		width:1200px;
		margin:1% auto;
        font-size:15px;
        text-align:center;
	}
	.playMeetingTopText{
		color:#440099;
	}
	
	
	.playMeetingWarning{
		color: #FF5161;
		margin-top:25px;
		margin-bottom:25px;
		text-align:center;
	}


	.playMeetingFormContainer{
		width:1200px;
		margin:0 auto;
	}
	fieldset{
		border:none;
	}
	.playMeetingFormContainer table{
		width:100%;
		border-top:2px solid #7F7F7F;
		border-bottom:2px solid #7F7F7F;
		border-spacing:0;
	}
	.playMeetingFormContainer td{
		border-bottom:1px solid #B3B3B3;
		padding:2px;
	}
	.playMeetingFormContainer th{
		width:10%;
		border-bottom:1px solid #B3B3B3;
		background:#E0E0E0;
		text-align:center;
	}
	#status{
		width:15%;
		height:30px;
		margin-left:10px;
	}
	.writeSubject{
		width:50%;
		height:40px;
		border:none;
		font-size:15px;
		outline:none;
	}
	.playMeetingFrmBtn{
		text-align:right;
		padding:10px 20px;
		float:right;
		background:#440099;
		color:white;
		font-weight:bold;
		font-size:17px;
		border-style:none;
		margin-top:10px;
	}
	
	#name{
		width:300px;
		height:20px;
		font-size:16px;
		border-top:none;
		border-left:none;
		border-right:none;
		border-bottom:1px solid #ddd;
		outline:none;
		text-align:center;
	}
	.showId_btn{
		border: none; margin-left:10px;
        width: 100px; height: 30px;
        font-weight:bold; font-size:15px; background-color:#440099; color:#fff; border-radius:20px;
        cursor: pointer;
	}
	#showSearch{text-align:center; margin-bottom:10px;}
	#cke_content{width:100%; padding:0; margin:0;}
	.cke_chrome{border:none;}
	.rowtd{
		padding:1%;
		padding-left:2%;
	}
	.playMeetingWritingFrm{margin-bottom:80px;}