@charset "UTF-8";

body {
	line-height: 2em;
}

ul, li {
	text-align: center;

}
.qnamenu {
	width:1200px; 
	overflow:auto; 
	margin:0 auto; 
	text-align:center;
	}
a:link, a:visited {
	text-decoration:none;
	}
#myTapmenu li {
	float:left; 
	text-align:center;
	width:16%; 
	height:50px; 
	line-height:50px; 
	margin:40px 0 20px 0;
	font-weight:bold; 
	font-size:18px; 
	border:3px solid #440099; 
	border-left:none;
 }
#myTapmenu a {
	color:#440099;
	}
#myTapmenu li:first-child {
	border-left:3px solid #440099; 
	margin-left:15px;
	}

#myTapmenu li:nth-child(1) {
	background-color:#440099;
	}
#myTapmenu li:nth-child(1)>a {
	color:#fff;
	}
#container {
	width:1200px; 
	overflow:auto; 
	margin:0 auto; 
	text-align:center;
}	


#container>ul>li:first-child {
	text-align: center;
	font-size: 14pt;
	height: 40px;
	vertical-align: middle;
	line-height: 30px;
}

#ulTable {
	margin-top: 10px;
}

#ulTable>li:first-child>ul>li {
	background-color: #c9c9c9;
	font-weight: bold;
	text-align: center;
}

#ulTable>li>ul {
	clear: both;
	padding: 0px auto;
	position: relative;
	min-width: 40px;
}

#ulTable>li>ul>li {
	float: left;
	font-size: 10pt;
	border-bottom: 1px solid silver;
	vertical-align: baseline;
}

#ulTable>li>ul>li:first-child {
	width: 10%;
} 
#ulTable>li>ul>li:first-child+li {
	width: 45%;
} 
#ulTable>li>ul>li:first-child+li+li {
	width: 20%;
} 
#ulTable>li>ul>li:first-child+li+li+li {
	width: 15%;
}
#ulTable>li>ul>li:first-child+li+li+li+li {
	width: 10%;
} 
#paging {
	clear: both;
	margin: 0 auto;
	width: 220px;
	height: 50px;
}

#paging>div {
	float: left;
	width: 30px;
	margin: 0 auto;
	text-align: center;
}


.left {
	text-align: left;
}

#topul {
	border-top: 3px solid grey;
}
#searchoption {
	margin:1%;
	margin-top:1%;
	border:1px solid #ddd;
	padding:7px 7px;
	padding-left:1%;
}
.qnasearchbtn {
		background:url("../img/icon/search.png");
		border-style:none;
		background-repeat: no-repeat;
		margin:-0.5%;
		width:25px;
		height:25px;
		cursor:pointer;
}
.keyword {
	width:250px;
	height:25px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid #ddd;
	outline:none;
}
