@charset "UTF-8";

	#userid, #userpwd, #nickname, #username, #usertel, #useraddr {
		border : 2px solid grey;
		width:300px;
		height:45px;
		margin-bottom:10px;
	}
	div.signupfrm {
		width:1200px;
		text-align:center;
		border: 5px double; color:#440099;
		border-radius: 10%;
		margin:0 auto;
		/*margin-right:500px;*/
		/*margin-left:500px;*/
		padding : 50px;

	}
	.signupbtn {
		width:300px;
		height:45px;
		background-color:#440099;
		color:white;
		margin-bottom:10px;
		font-size : 1.1em;
	}
	h1 {
		color:#440099;
		font-size:15px;
		margin-bottom:80px;
	}
	#googleicon {
		border: 2.5px solid; color:#4285F4;
		border-radius: 50%;
	}
	#navericon {
		margin-right:25px;
	}
	#kakaoicon {
		margin-right:25px;
	}