<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao뒤에 사용할DAO명을 입력해야함 ex)boardDAO -->
<mapper namespace="com.team200.proj.dao.ReplyDAO">
    <insert id="replyInsert">
        insert into reply(board_id, user_id, content)
        values (#{board_id}, #{user_id}, #{content})
    </insert>

    <select id="replyList" resultType="ReplyVO">
        select id, board_id, user_id, content, writedate
        from reply
        where board_id = ${board_id}
        order by writedate asc
    </select>

    <update id="replyEdit" parameterType="map">
        update reply
        set
            content = #{content}
        where id = #{id}
    </update>

    <delete id="replyDelete">
        delete
        from reply
        where id = #{id}
    </delete>

</mapper>